.header {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  align-self: stretch;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 2rem 0 2rem 0;

  h1,
  p {
    margin: 0;
  }

  p,
  a {
    color: var(--site-title-color);
    margin-top: 0.28rem;
    text-decoration: none;
  }

  h1 {
    color: var(--site-title-color);
  }

  p {
    opacity: 0.8;
  }
}
