* {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}

#root {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  min-height: 100vh; /* Test */
}
